config_version = 2

[fastly]
api_endpoint = "https://api.fastly.com"

[cli]
remote_config = "https://developer.fastly.com/api/internal/cli-config"
ttl = "5m"

[language]
  [language.rust]
  toolchain_version = "1.54.0"
  toolchain_constraint = ">= 1.54.0"
  wasm_wasi_target = "wasm32-wasi"
  fastly_sys_constraint = ">= 0.3.3"
  rustup_constraint = ">= 1.23.0"

# starter kits will be appended by devhub build process