name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Unshallow
      run: git fetch --prune --unshallow
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: '1.14.x'
    - name: Set GOVERSION
      run: |
        echo "::set-env name=GOVERSION::$(go version)"
    - name: Install Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.7'
    - name: Install github_changelog_generator
      run: gem install github_changelog_generator -v 1.15.0
    - name: Generate Release changelog
      run: make release-changelog
      env:
        CHANGELOG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: 'v0.131.1'
        args: release --rm-dist --release-notes=RELEASE_CHANGELOG.md
      env:
        GOVERSION: ${{ env.GOVERSION }}
        GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
