name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout code"
      uses: actions/checkout@v2
    - name: "Fetch unshallow repo"
      run: git fetch --prune --unshallow
    - name: "Install Go"
      uses: actions/setup-go@v2
      with:
        go-version: '1.17.x'
    - name: "Set GOVERSION"
      id: set_goversion
      run: echo "GOVERSION=$(go version)" >> $GITHUB_ENV
    - name: "Download latest app config"
      run: |
        make config
    - name: "Display app config"
      run: cat cmd/fastly/static/config.toml
    - name: "Validate app config"
      run: cat cmd/fastly/static/config.toml | grep 'remote_config = "https://developer.fastly.com/api/internal/cli-config"'
    - name: "Run GoReleaser"
      uses: goreleaser/goreleaser-action@v2
      with:
        version: v0.171.0 # goreleaser version (NOT goreleaser-action version)
        args: release --rm-dist
      env:
        GOVERSION: ${{ env.GOVERSION }}
        GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
