name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout code"
      uses: actions/checkout@v2
    - name: "Fetch unshallow repo"
      run: git fetch --prune --unshallow
    - name: "Install Go"
      uses: actions/setup-go@v2
      with:
        go-version: '1.17.x'
    - name: "Set GOVERSION"
      id: set_goversion
      run: echo "GOVERSION=$(go version)" >> $GITHUB_ENV
    - name: "Download latest app config"
      run: |
        make config
    - name: "Display app config"
      run: cat cmd/fastly/static/config.toml
    - name: "Validate app config"
      run: cat cmd/fastly/static/config.toml | grep 'remote_config = "https://developer.fastly.com/api/internal/cli-config"'
    - name: "Run GoReleaser"
      uses: goreleaser/goreleaser-action@v2
      with:
        version: v1.5.0 # goreleaser version (NOT goreleaser-action version)
        args: release --rm-dist
      env:
        AUR_KEY: ${{ secrets.AUR_KEY }}
        GOVERSION: ${{ env.GOVERSION }}
        GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
    - name: "Generate release commits"
      id: generate-commits
      run: ./scripts/release-commits.sh
    - name: Create Sentry release
      run: |
        curl https://sentry.io/api/0/organizations/${{ secrets.SENTRY_ORG }}/releases/ \
         -H 'Authorization: Bearer ${{ secrets.SENTRY_TOKEN }}' \
         -H 'Content-Type: application/json' \
         -d '{"version":"${{ github.ref_name }}","ref":"${{ github.sha }}","commits":${{ steps.generate-commits.outputs.commits }},"url":"https://github.com/fastly/cli/releases/tag/v${{ github.ref_name }}","projects":["${{ secrets.SENTRY_PROJECT }}"]}'
